.home{
    display: grid;
    gap: 0.5em;
    justify-content: center;
    height: 100vh;
    padding: 3em;
}

.imagePerfil{

    width: 4.3em;
}


.card{
    background-color: var(--branco);
    color: var(--cinza);

    box-shadow:1px 1px 6px var(--roxosombra);
    border-radius: 1em;
    
    width: auto;
    height: auto;
    border-radius: 1em;
    padding: 1em;
    
    
}
li{
    list-style: none;
}

